@using Microsoft.CodeAnalysis.Scripting
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta http-equiv="Content-Security-Policy" content="script-src 'self'">-->
    <title>@ViewData["Title"] - TheCarHub</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/theCarHub.styles.css" asp-append-version="true" />
</head>
<body class="bg-dark text-white">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TheCarHub</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link text-light @(Accessor.HttpContext?.Request.Path.Value == "/" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light @(Accessor.HttpContext?.Request.Path.Value == "/Cars" ? "active" : "")" asp-area="" asp-controller="Cars" asp-action="Index">Cars</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light @(Accessor.HttpContext?.Request.Path.Value == "/CarList" ? "active" : "")" asp-area="" asp-controller="CarList" asp-action="Index">Cars manager</a>
                        </li>
                    }
                    @if (User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light @(Accessor.HttpContext?.Request.Path.Value == "/RoleManager" ? "active" : "")" asp-area="" asp-controller="RoleManager" asp-action="Index">Role manager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light @(Accessor.HttpContext?.Request.Path.Value == "/UserRoles" ? "active" : "")" asp-area="" asp-controller="UserRoles" asp-action="Index">User Roles manager</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link text-light @(Accessor.HttpContext?.Request.Path.Value == "/Home/Privacy" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

<div class="container pb-5">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - TheCarHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>