@using System.Globalization
@model IEnumerable<theCarHub.Models.CarViewModel>

@{
    ViewData["Title"] = "Cars manager";
}

<h1 class="text-decoration-underline">Cars Manager</h1>
<a class="fs-3 my-2" asp-action="Create">Add a new car</a>


<table id="carTable" class="table text-light my-4">
    <thead class="bg-gradient">
    <tr class="text-center">
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.CarId), "Index", new { sortOrder = ViewBag.CarIdSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Year.Year), "Index", new { sortOrder = ViewBag.YearSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Brand), "Index", new { sortOrder = ViewBag.BrandSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Model), "Index", new { sortOrder = ViewBag.ModelSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Trim), "Index", new { sortOrder = ViewBag.TrimSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.PurchasePrice), "Index", new { sortOrder = ViewBag.PurchasePriceSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.SellingPrice), "Index", new { sortOrder = ViewBag.SellingPriceSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.SaleDate), "Index", new { sortOrder = ViewBag.SaleDateSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.ToSale), "Index", new { sortOrder = ViewBag.ToSaleSortParm }, new { @class = "btn btn-secondary" })
        </th>
        <th><a class="btn btn-secondary">Actions</a></th>
        <th>
            <img src="~/arrows.png" alt="Up and down arrows icon" title="Click on a parameter to sort the cars list" style="width:1.4rem">
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="@(item.ToSale ? "table-info" : "table-light") text-center">
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchasePrice)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)$
            </td>
            <td>
                @if (item.SaleDate == DateTime.MinValue)
                {
                    <p>-</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.SaleDate)
                }
            </td>
            <td>
                <button id="@item.CarId" onclick="location.href='@Url.Action("SoldToggler", "CarList", new { id = @item.CarId, toSaleValue = @item.ToSale })'" class="btn @(item.ToSale ? "btn-danger" : "btn-success") w-50 text-light ms-3 fs-5 py-0 px-2 carListToggleBtn">
                    @(item.ToSale ? " - " : " + ")
                </button>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
            <td></td>
        </tr>
    }
    </tbody>
</table>