@using System.Globalization
@model IEnumerable<theCarHub.Models.CarViewModel>

@{
    ViewData["Title"] = "Cars manager";
}

<h1 class="text-decoration-underline">Cars Manager</h1>
<a class="fs-3 my-2" asp-action="Create">Add a new car</a>


<table id="carTable" class="table text-light my-4">
    <thead class="bg-gradient">
    <tr class="text-center">
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("Car Id", "Index", new { sortOrder = ViewBag.CarIdSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("Built in", "Index", new { sortOrder = ViewBag.YearSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Brand), "Index", new { sortOrder = ViewBag.BrandSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Model), "Index", new { sortOrder = ViewBag.ModelSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Trim), "Index", new { sortOrder = ViewBag.TrimSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("Purchase date", "Index", new { sortOrder = ViewBag.PurchaseDateSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("Purchase price", "Index", new { sortOrder = ViewBag.PurchasePriceSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("Repair cost", "Index", new { sortOrder = ViewBag.RepairCostSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("Sale price", "Index", new { sortOrder = ViewBag.SellingPriceSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("Sold on", "Index", new { sortOrder = ViewBag.SaleDateSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            @Html.ActionLink("To sale", "Index", new { sortOrder = ViewBag.ToSaleSortParm }, new { @class = "stretched-link text-light" })
        </th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1"><a class="stretched-link text-light">Actions</a></th>
        <th class="align-middle rounded-0 btn btn-secondary position-relative d-table-cell p-1">
            <img src="~/arrows.png" alt="Up and down arrows icon" title="Click on a parameter to sort by" style="width:1.4rem">
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="@(item.ToSale ? "table-info" : "table-light") text-center">
            <td class="align-middle border-start border-end">
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td class="align-middle border-end">
                @Html.DisplayFor(modelItem => item.Year.Year)
            </td>
            <td class="align-middle border-end">
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td class="align-middle border-end">
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td class="align-middle border-end">
                @Html.DisplayFor(modelItem => item.Trim)
            </td>
            <td class="align-middle border-end">
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td class="align-middle border-end">
                @Html.Raw(item.PurchasePrice.ToString("C2", CultureInfo.CurrentCulture))
            </td>
            <td class="align-middle border-end">
                @Html.Raw(item.RepairCost.ToString("C2", CultureInfo.CurrentCulture))
            </td>
            <td class="align-middle border-end">
                @Html.Raw(item.SellingPrice.ToString("C2", CultureInfo.CurrentCulture))
            </td>
            <td class="align-middle border-end">
                @if (item.SaleDate == DateTime.MinValue)
                {
                    <span>-</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.SaleDate)
                }
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td class="align-middle border-end">
                    <button id="@item.CarId" onclick="location.href='@Url.Action("SoldToggler", "CarList", new { id = @item.CarId, toSaleValue = @item.ToSale })'" class="btn @(item.ToSale ? "btn-danger" : "btn-success") w-75 text-light fs-5 py-0 px-2 carListToggleBtn">
                        @(item.ToSale ? " - " : " + ")
                    </button>
                </td>
                <td class="align-middle">
                    <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                </td>
            }
            else
            {
                <td class="align-middle"><a asp-action="Details" asp-route-id="@item.CarId">Details</a></td>
            }
            <td class="align-middle border-end"></td>
        </tr>
    }
    </tbody>
</table>