@model IEnumerable<theCarHub.Models.CarImagesModel>

@{
    ViewData["Title"] = "Car images";
}

<h1 class="text-decoration-underline">All images of a car</h1>

<table class="table text-light">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageId)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.CarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
            </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
        </tr>
    }
    </tbody>
</table>