@model IEnumerable<theCarHub.Models.CarImagesNewModel>

@{
    ViewBag.Title = "Api Index";
    Layout = "_Layout";
}
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <table class="table table-responsive" style="width:400px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.uri)
                </th>
                <th>Image</th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.uri)
                    </td>
                    <td>
                        <img src="@item.uri" style="width:100px" alt="carImage">
                        https://thecarhubstorage.blob.core.windows.net/images/car_one_01.jpg
                    </td>
                </tr>
            }
        </table>
    </div>
</div>