@model theCarHub.Data.Car

@{
    ViewData["Title"] = "Details";
}

<!--TODO Add owner contact info in car details, maybe also in img carousel (name, email, phone), OR contact form-->
<!--TODO CHECK datetimes in Edit-->
<!--TODO Check if owner is not allowed to edit other owner cars-->
<h1 class="text-decoration-underline">Details</h1>

<div>
    <h4>@Model.Make @Model.Model @Model.Trim @Model.Year.Year</h4>
    <hr />
    <dl class="row">
        @if (User.IsInRole("Admin") && ViewBag.CurrentUserId == Model.OwnerId)
        {
            <dt class="col-sm-2">
                Car Id
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                Owner Id
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OwnerId)
            </dd>
        }
        <dt class="col-sm-2">
            Built in
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            Brand
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            Model
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trim)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                Purchased on
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchaseDate)
            </dd>
        }
        @if (User.IsInRole("Admin") && ViewBag.CurrentUserId == Model.OwnerId)
        {
            <dt class="col-sm-2">
                Purchase price
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchasePrice)$
            </dd>
        }
        @if (User.IsInRole("Admin"))
        {
            <dt class="col-sm-2">
                Repairs done
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Repairs)
            </dd>
            <dt class="col-sm-2">
                Repair cost
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RepairCost)$
            </dd>
            <dt class="col-sm-2">
                Lot date
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LotDate)
            </dd>
        }
        <dt class="col-sm-2">
            Selling price
        </dt>
        @if (Model.SaleDate == DateTime.MinValue)
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SellingPrice)
            </dd> 
        }
        else
        {
            <dd class="col-sm-10">SOLD OUT</dd>
        }
        
        @if (User.IsInRole("Admin") && ViewBag.CurrentUserId == Model.OwnerId)
        {
            <dt class="col-sm-2">
                Sale date
            </dt>
            <dd class="col-sm-10">
                @if (this.Model.SaleDate == DateTime.MinValue)
                {
                    <span>Not sold</span>
                }
                else
                {
                    @Html.DisplayFor(model => model.SaleDate)
                }
            </dd>
        }
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    @if (User.IsInRole("User"))
    {
    <a class="fs-5 link-primary" href="mailto:eddie@owner.com" title="Contact us by email">Contact us for buy this car or if you need more informations</a>
    }
</div>
<div>
    @if (User.IsInRole("Admin") && ViewBag.CurrentUserId == Model.OwnerId)
    {
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success text-light">Edit</a>
    }
    <button class="btn btn-primary text-light" onclick="JavaScript:window.history.back(1); return false;">Back</button>
</div>
