@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.IdentityModel.Tokens

@model Tuple<List<CarViewModel>, List<CarImagesNewModel>?>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-decoration-underline">All our cars</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a class="fs-3 my-2" asp-action="Create">Add a new car</a>
    }
</p>

<div class="carList d-flex flex-wrap justify-content-center">
    @foreach (var carViewModel in Model.Item1)
    {
        <!-- Modal -->
        <div class="modal fade" id="@($"modalViewOfCarId{carViewModel.CarId}")" tabindex="-1" aria-labelledby="modalView" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h2 class="modal-title fs-5" id="@($"modalViewLabelOf{carViewModel.CarId}")">@Html.DisplayFor(modelItem => carViewModel.Brand) | @Html.DisplayFor(modelItem => carViewModel.Model) | @Html.DisplayFor(modelItem => carViewModel.Trim) | @Html.DisplayFor(modelItem => carViewModel.Year.Year)</h2>
                        <button type="button" class="bg-dark btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="py-2">Car views</h5>
                        <div class="modalViewCarGallery">
                            <div id="@($"carsCarouselOf{carViewModel.CarId}")" class="carousel slide" data-bs-ride="true">
                                
                                @{ var carListFromCarImagesModel = Model.Item2.Where(img => img.name
                                       .Contains((carViewModel.Brand + "-" + carViewModel.Model + "-" + carViewModel.Trim + "-" + carViewModel.Year.Year)
                                           .ToLower().Replace(" ", "")));}
                                
                                <div class="carousel-indicators">
                                    @{var slideIndex = 1;}
                                    @foreach (var carImagesNewModel in carListFromCarImagesModel)
                                    {
                                        @if (carListFromCarImagesModel.ToList().IndexOf(carImagesNewModel) == 0)
                                        {
                                            <button type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide-to="@(slideIndex - 1)" class="active" aria-current="true" aria-label="Slide @slideIndex"></button>
                                        }
                                        else
                                        {

                                            <button type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide-to="@(slideIndex - 1)" aria-label="Slide @slideIndex"></button>
                                        }
                                        slideIndex++;
                                    }
                                </div>
                                <div class="carousel-inner">
                                    @foreach (var carImagesNewModel in carListFromCarImagesModel)
                                    {
                                        @if (carListFromCarImagesModel.ToList().IndexOf(carImagesNewModel) == 0)
                                        {
                                            <div class="carousel-item active" data-bs-interval="5000">
                                                <img src="@Html.DisplayFor(model => carImagesNewModel.uri)" alt="Image of @carViewModel.Brand @carViewModel.Model" title="Image of @carViewModel.Brand @carViewModel.Model" class="d-block w-100" style="height:500px">
                                                <a asp-action="DeleteImage" asp-route-nameOfImgToDelete="@carImagesNewModel.name" title="Delete current image" class="z-3 btn btn-danger link-light p-2 position-absolute top-0 end-0"><img src="~/trash.svg" alt="Delete current image" style="width: 25px"/></a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item" data-bs-interval="5000">
                                                <img src="@Html.DisplayFor(model => carImagesNewModel.uri)" alt="Image of @carViewModel.Brand @carViewModel.Model" title="Image of @carViewModel.Brand @carViewModel.Model" class="d-block w-100" style="height:500px">
                                                <a asp-action="DeleteImage" asp-route-nameOfImgToDelete="@carImagesNewModel.name" title="Delete current image" class="btn btn-danger link-light p-2"><img src="~/trash.svg" alt="Delete current image" style="width: 25px"/></a>
                                            </div>
                                        }
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide="prev" style="top:50px">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide="next" style="top:50px">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-around">
                        @if (User.IsInRole("Admin") && ViewBag.CurrentUserId == @carViewModel.OwnerId)
                        {
                            <td>
                               <form method="post" enctype="multipart/form-data" asp-controller="Cars" asp-action="UploadImage" >
                                   <div class="form-group">
                                       <div class="col-md-10">
                                           <p class="text-decoration-underline">Add new image :</p>
                                           <input type="file" name="file" required/>
                                           @{ int imgIndex = 0;
                                               string iValue = imgIndex.ToString();
                                           }
                                           
                                           @foreach (var carImagesNewModel in carListFromCarImagesModel)
                                           {
                                               imgIndex++;
                                               
                                               if (imgIndex is 0 or < 10)
                                               {
                                                   iValue = "0" + (imgIndex + 1).ToString();
                                               }
                                               else
                                               {
                                                   iValue = imgIndex.ToString();
                                               }
                                           }
                                           <input id="imageNameIndexed" name="imageNameIndexed" value="@carViewModel.Brand-@carViewModel.Model-@carViewModel.Trim-@carViewModel.Year.Year-@(iValue)" hidden/>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <div class="col-md-10">
                                           <input type="submit" value="Send" class="btn btn-primary"/>
                                       </div>
                                   </div>
                               </form>
                            </td>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <div class="car-body carCard d-lg-flex flex-column justify-content-between border bg-secondary rounded p-2 w-auto my-3 mx-3">
            <h5 class="car-title" >@Html.DisplayFor(modelItem => carViewModel.Brand) | @Html.DisplayFor(modelItem => carViewModel.Model)</h5>
            <h6>Trim : @Html.DisplayFor(modelItem => carViewModel.Trim)</h6>
            <p>Built in : @Html.DisplayFor(modelItem => carViewModel.Year.Year)</p>
            <div class="cardMainImage">
                @{var currentCarImgName = (carViewModel.Brand + "-" + carViewModel.Model + "-" + carViewModel.Trim + "-" + carViewModel.Year.Year + "-01.jpg").ToString().ToLower().Replace(" ", "");
                }
                @if(!Model.Item2.Any(img => img.name.Contains(currentCarImgName)))
                {
                    <button type="button" class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="@($"#modalViewOfCarId{carViewModel.CarId}")">
                        <img src="~/carAdd.png" alt="Add a new car image" title="Add a new car image" class="card-img" style="width:300px; height: 200px;">
                    </button>
                }
                else
                {
                    @foreach (var image in Model.Item2)
                    {

                        if (image.name.ToLower().Replace(" ", "") == currentCarImgName)
                        {
                            <!-- Button trigger modal -->
                            <button type="button" class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="@($"#modalViewOfCarId{carViewModel.CarId}")">
                                <img src="@Html.DisplayFor(model => image.uri)" alt="Image of @carViewModel.Brand @carViewModel.Model" title="Image of @carViewModel.Brand @carViewModel.Model" class="card-img" style="width:300px; height: 200px;">
                            </button>
                        }
                    }
                }
            </div>
            
            
            <p class="my-2">Description : @Html.DisplayFor(modelItem => carViewModel.Description)</p>
            @if (carViewModel.SaleDate != DateTime.MinValue)
            {
                <p class="text-decoration-line-through">Price : @Html.DisplayFor(modelItem => carViewModel.SellingPrice)$ (SOLD) <spans>| Sold on : @Html.DisplayFor(modelItem => carViewModel.SaleDate)</spans></p>
            }
            else
            {
                <p>Price : <span class="text-decoration-underline">@Html.DisplayFor(modelItem => carViewModel.SellingPrice)$</span></p>
            }
            <div class="carCardFooter">
                @if (User.IsInRole("Admin") && ViewBag.CurrentUserId == @carViewModel.OwnerId)
                {
                    <p>Sold / to sale: 
                        <button id="@carViewModel.CarId" onclick="location.href='@Url.Action("SoldToggler", "Cars", new {id= carViewModel.CarId, toSaleValue= carViewModel.ToSale })'" class="btn @(carViewModel.ToSale ? "btn-danger" : "btn-success") text-light ms-3 fs-5 py-0 px-2 carListToggleBtn">
                            @(carViewModel.ToSale ? " - " : " + ")
                        </button>
                    </p>
                    <td>
                        <a asp-action="Details" asp-route-id="@carViewModel.CarId" class="btn btn-primary link-light">Details</a> |
                        <a asp-action="Edit" asp-route-id="@carViewModel.CarId" class="btn btn-primary link-light">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@carViewModel.CarId" class="btn btn-danger link-light">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="@($"#modalViewBuyOfCarId{carViewModel.CarId}")">Buy</button>
                        <a asp-action="Details" asp-route-id="@carViewModel.CarId" class="btn btn-primary link-light">Details</a>
                        <!-- Modal for Buy/contact-->
                        <div class="modal fade" id="@($"modalViewBuyOfCarId{carViewModel.CarId}")" tabindex="-1" aria-labelledby="modalView" aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header">
                                        <h2 class="modal-title fs-5" id="@($"modalViewBuyLabelOf{carViewModel.CarId}")">@Html.DisplayFor(modelItem => carViewModel.Brand) | @Html.DisplayFor(modelItem => carViewModel.Model) | @Html.DisplayFor(modelItem => carViewModel.Trim) | @Html.DisplayFor(modelItem => carViewModel.Year.Year)</h2>
                                        <button type="button" class="bg-dark btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h5 class="py-2">To Buy this car, please contact us here : </h5>
                                        <p>EMAIL : <a class="fs-5 link-primary" href="mailto:eddie@owner.com" title="Contact us by email">eddie@owner.com</a></p>
                                        <p>PHONE : +33090999909</p>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end modal-->
                    </td>
                }
            </div>
        </div>
    }
</div>
