@using Microsoft.AspNetCore.Mvc.TagHelpers
@using theCarHub.Controllers
@using Humanizer

@model Tuple<List<CarViewModel>, List<CarImagesNewModel>?>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-decoration-underline">All our cars</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a class="fs-3 my-2" asp-action="Create">Add a new car</a>
    }
</p>

<div class="carList d-flex flex-wrap justify-content-center">
    @foreach (var carViewModel in Model.Item1)
    {
        <!-- Modal -->
        <div class="modal fade" id="@($"modalViewOfCarId{carViewModel.CarId}")" tabindex="-1" aria-labelledby="modalView" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="@($"modalViewLabelOf{carViewModel.CarId}")">@Html.DisplayFor(modelItem => carViewModel.Brand) | @Html.DisplayFor(modelItem => carViewModel.Model)</h1>
                        <button type="button" class="bg-dark btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 class="py-2">Car views</h5>
                        <div class="modalViewCarGallery">
                            <div id="@($"carsCarouselOf{carViewModel.CarId}")" class="carousel slide" data-bs-ride="true">
                                
                                @{ var carListFromCarImagesModel = Model.Item2.Where(img => img.name
                                       .Contains((carViewModel.Brand + "-" + carViewModel.Model + "-" + carViewModel.Trim + "-" + carViewModel.Year.Year)
                                           .ToLower().Replace(" ", "")));}
                                
                                <div class="carousel-indicators">
                                    @{var index = 1;}
                                    @foreach (var carImagesNewModel in carListFromCarImagesModel)
                                    {
                                        @if (carListFromCarImagesModel.ToList().IndexOf(carImagesNewModel) == 0)
                                        {
                                            <button type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide-to="@(index - 1)" class="active" aria-current="true" aria-label="Slide @index"></button>
                                        }
                                        else
                                        {

                                            <button type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide-to="@(index - 1)" aria-label="Slide @index"></button>
                                        }
                                        index++;
                                    }
                                </div>
                                <div class="carousel-inner">
                                    @foreach (var carImagesNewModel in carListFromCarImagesModel)
                                    {
                                        @if (carListFromCarImagesModel.ToList().IndexOf(carImagesNewModel) == 0)
                                        {
                                            <div class="carousel-item active" data-bs-interval="5000">
                                                <img src="@Html.DisplayFor(model => carImagesNewModel.uri)" alt="Image of @carViewModel.Brand @carViewModel.Model" title="Image of @carViewModel.Brand @carViewModel.Model" class="d-block w-100" style="height:500px">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item" data-bs-interval="5000">
                                                <img src="@Html.DisplayFor(model => carImagesNewModel.uri)" alt="Image of @carViewModel.Brand @carViewModel.Model" title="Image of @carViewModel.Brand @carViewModel.Model" class="d-block w-100" style="height:500px">
                                            </div>
                                        }
                                    }
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="@($"#carsCarouselOf{carViewModel.CarId}")" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @if (User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-action="Index" asp-route-id="@carViewModel.CarId" class="btn btn-primary link-light">Add image</a> |
                                <a asp-action="Index" asp-route-id="@carViewModel.CarId" class="btn btn-danger link-light">Remove current Image</a> |
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </td>
                        }
                        else
                        {
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <div class="car-body carCard d-lg-flex flex-column justify-content-between border bg-secondary rounded p-2 w-auto my-3 mx-3">
            <h5 class="car-title" >@Html.DisplayFor(modelItem => carViewModel.Brand) | @Html.DisplayFor(modelItem => carViewModel.Model)</h5>
            <h6>Trim : @Html.DisplayFor(modelItem => carViewModel.Trim)</h6>
            <p>Built in : @Html.DisplayFor(modelItem => carViewModel.Year.Year)</p>
            <div>
                @foreach (var image in Model.Item2.Where(img => img.name.ToString().ToLower().Replace(" ", "").Replace(".jpg", "") == ((carViewModel.Brand + "-" + carViewModel.Model + "-"+ carViewModel.Trim + "-" + carViewModel.Year.Year).ToLower().Replace(" ", ""))))
                {
                    <!-- Button trigger modal -->
                    <button type="button" class="bg-transparent border-0" data-bs-toggle="modal" data-bs-target="@($"#modalViewOfCarId{carViewModel.CarId}")">
                        <img src="@Html.DisplayFor(model => image.uri)" alt="Image of @carViewModel.Brand @carViewModel.Model" title="Image of @carViewModel.Brand @carViewModel.Model" class="card-img" style="width:300px; height: 200px;">
                    </button>
                }
            </div>
            
            
            <p class="my-2">Description : @Html.DisplayFor(modelItem => carViewModel.Description)</p>
            @if (carViewModel.SaleDate != DateTime.MinValue)
            {
                <p class="text-decoration-line-through">Price : @Html.DisplayFor(modelItem => carViewModel.SellingPrice)$ (SOLD) <spans>| Sold on : @Html.DisplayFor(modelItem => carViewModel.SaleDate)</spans></p>
            }
            else
            {
                <p>Price : <span class="text-decoration-underline">@Html.DisplayFor(modelItem => carViewModel.SellingPrice)$</span></p>
            }
            <div class="carCardFooter">
                @if (User.IsInRole("Admin"))
                {
                    <p>Sold / to sale: 
                        <button id="@carViewModel.CarId" onclick="location.href='@Url.Action("SoldToggler", "Cars", new {id= carViewModel.CarId, toSaleValue= carViewModel.ToSale })'" class="btn @(carViewModel.ToSale ? "btn-danger" : "btn-success") text-light ms-3 fs-5 py-0 px-2 carListToggleBtn">
                            @(carViewModel.ToSale ? " - " : " + ")
                        </button>
                    </p>
                    <td>
                        <a asp-action="Details" asp-route-id="@carViewModel.CarId" class="btn btn-primary link-light">Details</a> |
                        <a asp-action="Edit" asp-route-id="@carViewModel.CarId" class="btn btn-primary link-light">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@carViewModel.CarId" class="btn btn-danger link-light">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@carViewModel.CarId" class="btn btn-primary link-light">Details</a>
                    </td>
                }
            </div>
        </div>
    }
</div>
