@model IEnumerable<theCarHub.Models.CarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-decoration-underline">Cars in stock</h1>

<p class="position-relative">
    @if (User.IsInRole("Admin"))
    {
        <a class="fs-3 my-2" asp-action="Create">Add a new car</a>
    }
</p>
<table class="table text-light">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>Put/pull to your Wishlist</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <button id="@item.CarId" data-val="@item.ToShow" class="btn carListToggleBtn">
                    @(item.ToShow ? " - " : " + ")
                </button>
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.CarId">Details</a>
                </td>
            }
           
        </tr>
    }
    </tbody>
</table>
@section Scripts {
    <script>
    jQuery(document).ready(function () {
        $('.btn').click(function (e) {
            var btn = $(this);
            var movieId = btn.attr('id');
            var movieVal = btn.attr('data-val') == "False" ? 0 : 1;
            $.get('/Cars/CarListToggler?id=' + movieId + '&val=' + movieVal,
                function (data) {
                    if (data === 0) {
                        btn.attr('data-val', 'False');
                        btn.html(' + ');
                    }
                    else if (data === 1) {
                        btn.attr('data-val', 'True');
                        btn.html(' - ');
                    }
                }
            );
        });
    });
    </script>
}