@using Microsoft.IdentityModel.Tokens
@model IEnumerable<theCarHub.Models.CarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-decoration-underline">Cars in stock</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a class="fs-3 my-2" asp-action="Create">Add a new car</a>
    }
</p>
<div class="carList d-flex flex-wrap">
     @foreach (var item in Model)
     {
         <div class="carItem border border-2 p-2 m-3 w-25 h-auto">
             <h5>Brand: @Html.DisplayFor(modelItem => item.Brand) | Model: @Html.DisplayFor(modelItem => item.Model)</h5>
             <h6>Trim : @Html.DisplayFor(modelItem => item.Trim)</h6>
             <p>Built in : @Html.DisplayFor(modelItem => item.Year.Year)</p>
             <p>Price : @Html.DisplayFor(modelItem => item.SellingPrice)</p>
             <p>Description : @Html.DisplayFor(modelItem => item.Description)</p>
             
             @if(item.SaleDate != DateTime.MinValue)
             {
                <p>Sold on : @Html.DisplayFor(modelItem => item.SaleDate)</p>
             }
             <p>Add to my wish list : 
                 <button id="@item.CarId" data-val="@item.ToShow" class="text-light ms-5 fs-3 py-0 px-2 btn border border-1 carListToggleBtn">
                     @(item.ToShow ? " - " : " + ")
                 </button>
             </p>
             @if (User.IsInRole("Admin"))
                         {
                             <td>
                                 <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                                 <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                                 <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                             </td>
                         }
                         else
                         {
                             <td>
                                 <a asp-action="Details" asp-route-id="@item.CarId">Details</a>
                             </td>
                         }
         </div>
     }
     </div>
@section Scripts {
    <script>
    jQuery(document).ready(function () {
        $('.btn').click(function (e) {
            var btn = $(this);
            var movieId = btn.attr('id');
            var movieVal = btn.attr('data-val') == "False" ? 0 : 1;
            $.get('/Cars/CarListToggler?id=' + movieId + '&val=' + movieVal,
                function (data) {
                    if (data === 0) {
                        btn.attr('data-val', 'False');
                        btn.html(' + ');
                    }
                    else if (data === 1) {
                        btn.attr('data-val', 'True');
                        btn.html(' - ');
                    }
                }
            );
        });
    });
    </script>
}